@model BusinessSolutions.MVC.Models.Order.OrderResponse
@{
    ViewData["Title"] = "Update Order Page";
}

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {        
        $.get("getproviders/",
            {},
            function (data) {
                displayProviders(data);
            })
    })

    function displayProviders(data) {
        let length = data.length;
        for (let i = 0; i < length; i++) {
            $("#providers").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
        }
    }

    function additem()
    {
        $("#content").append('<tr><td>'  + '</td><td>' +  '</td><td>'  + '</td><td>'  + '</td></tr>');
    }

</script>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Edit Order</h1>
         <form asp-action="Add" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select class="option" asp-for="ProviderId" id="providers">
                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" value="@Model.Number"/>
                <span asp-validation-for="Number" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="datetime" value="@Model.Date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            
            <form action="">
                @if (Model.Content != null)
                {
                    <table border="0" class="flex-content-item">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.Content[0].Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Content[0].Quantity)</th>
                                <th>@Html.DisplayNameFor(model => model.Content[0].Order)</th>
                                <th>@Html.DisplayNameFor(model => model.Content[0].Unit)</th>
                            </tr>
                        </thead>
                        <tbody id="content">
                            @foreach (var item in Model.Content)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit)
                                    </td>
                                    <td>                               
                                        <a asp-controller="UpdateOrder" asp-action="Delete" asp-route-id="@item.Id">
                                            <div class="btn-group btn-group-sm">
                                                <button type="submit" class="button-accept-filter">
                                                    <i class="far fa-trash-alt">Delete</i>
                                                </button>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            }                       
                        </tbody>
                </table>
            }
            <button onclick="additem()">Add item</button>
            </form>
            

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="Update">
                            <input type="submit"
                                   value="Save"
                                   class="btn btn-primary w-100" />
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="/" class="btn btn-secondary  w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>
@{
    //Убрать форму и отправлять fromBody все параметры, и добавлять чисто импуты
        //Осталось связка в БД и обновление + тоже самое запихнуть в Add
}

