@using BusinessSolutions.MVC.Models.OrderItem
@model BusinessSolutions.MVC.Models.Order.OrderResponse
@{
    ViewData["Title"] = "Update Order Page";
}

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>

    function saveChanges() 
    {
        let jprovider = $("#providers").val();
        let jnumber = $("#number").val();
        let jdate = $("#date").val();
        let jcontent = $("#content").children("div").children("input");

        let length = jcontent.length;
        let contentArray = [];

        let i = 1;
        let j = 0;
        let step = 2;
        while (i < length) {
            let item = {
                name: jcontent[i - 1].value,
                Quantity: jcontent[i].value,
                Unit: jcontent[i + 1].value,
                OrderId: @Model.Id 
            }
            contentArray[j] = item;
            j++;
            if (i == 1)
                step++;
            i = i + step;
        }

        $.post("UpdateOrder/update/",
        {
            id: @Model.Id,
            providerId: jprovider,
            number: jnumber,
            date: jdate,
            content: contentArray
        },
        function (data) {
            $(location).attr('href', '/');
        })
    }

    function addItem() {
        $("#content").prepend('<div id="" class="row" style="margin:20px;border:solid 1px;"><input style="margin-top:5px;margin-bottom:5px;" type="text" placeholder="Name of item" value="" /><input style="margin-top:5px;margin-bottom:5px;" type="text" placeholder="Quantity" value="" /><input style="margin-top:5px;margin-bottom:5px;" type="text" placeholder="Unit" value="" /><button style="margin-top:5px;margin-bottom:5px;" onclick="deleteItem(this)">Delete</button></div>');
    }


    function deleteItem(button) {
        button.parentNode.remove();
    }

    $(document).ready(function () {        
        $.get("getproviders/",
            {},
            function (data) {
                displayProviders(data);
            })
    })

    function displayProviders(data) {
        let length = data.length;
        for (let i = 0; i < length; i++) {
            $("#providers").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
        }
    }

    

</script>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Edit Order</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select class="option" asp-for="ProviderId" id="providers">
                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" value="@Model.Number" id="number"/>
                <span asp-validation-for="Number" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="datetime" value="@Model.Date" id="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

        <div id="content">
            @foreach(var item in Model.Content)
            {
                <div id="@item.Id" class="row" style="margin:20px;border:solid 1px;">
                    <input style="margin-top:5px;margin-bottom:5px;" type="text" placeholder="Name of item" value="@item.Name" />
                    <input style="margin-top:5px;margin-bottom:5px;" type="text" placeholder="Quantity" value="@item.Quantity" />
                    <input style="margin-top:5px;margin-bottom:5px;" type="text" placeholder="Unit" value="@item.Unit" />
                    <button style="margin-top:5px;margin-bottom:5px;" onclick="deleteItem(this)">Delete</button>
                </div>
            }
        </div>

        <div class="row">
            <button style="margin-top:20px; margin-bottom:20px; border-radius:12px; padding-left:5px;padding-right:5px;" onclick="addItem()">Add Item</button>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="form-group">
                    <input value="Save changes" type="submit" class="btn btn-primary w-100" onclick="saveChanges()" />
                </div>
            </div>
            <div class="col-md-6">
                <a href="/" class="btn btn-secondary  w-100">View All</a>
            </div>
        </div>
        
    </div>
</div>
@{
    
}

