@model IEnumerable<BusinessSolutions.MVC.Models.Order.OrderResponse>;

@{
    ViewData["Title"] = "Main Page";
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>     
    
    function filter()
    {
        let jprovider = $("#providers").val();
        let jstartDate = $("#startDate").val();
        let jendDate = $("#endDate").val();
        
        $.get("filter/",
            {
                provider: jprovider[0],
                startDate: jstartDate,
                endDate: jendDate
            },
            function(data) {
                displayData(data)
            })
    
    }

    function reset()
    {
        document.location.reload();
    }

    function displayData(data) {
        let table = document.getElementById("content");
        while (table.firstChild)
            table.removeChild(table.firstChild);
        let length = data.length;
        for (let i = 0; i < length; i++) 
            $("#content").append('<tr><td>' + data[i].id + '</td><td>' + data[i].number + '</td><td>' + data[i].providerName + '</td><td>' + data[i].date + '</td></tr>');        
    }


    $(document).ready(function() {        

        $.get("getproviders/",
            {},
            function(data) 
            {
                displayProviders(data);
            })
    });

    function displayProviders(data)
    {
        let length = data.length;
        for (let i = 0; i < length; i++)        
            $("#providers").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');        
    }

    function openOrder(orderId)
    {
        var url = 'UpdateOrder/open' + '?id=' + orderId;
        window.location.replace(url);
    }

</script>

<div class="flex-options">    
    <div class="flex-option-item">
        <select multiple class="option" id="providers">
            
        </select>
    </div>

    <div class="flex-option-item">
        <input id="startDate" class="start-input" alt="Start with" placeholder="start date" value="@DateOnly.Parse(DateTime.Today.Date.AddMonths(-1).ToString("D"))" autocomplete="off" />
    </div>

    <div class="flex-option-item">
        <input id="endDate" class="end-input" alt="End" placeholder="end date" value="@DateOnly.Parse(DateTime.Today.Date.ToString("D"))" autocomplete="off" />
    </div>

    <div class="flex-option-item">
        <button class="button-accept-filter" onclick="filter()">
            Apply filter
        </button>
        <button class="button-accept-filter" onclick="reset()">
            Reset
        </button>
    </div>
</div>

<div class="flex-content">
    <table border="1" class="flex-content-item">
        <thead>
           <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Number)</th>
                <th>@Html.DisplayNameFor(model => model.ProviderName)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>            
           </tr>
        </thead>
        <tbody id="content">
            
            @foreach (var item in Model)
            {                
                <tr onclick="openOrder(@item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProviderName)
                    </td>     
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>  
                    <td class="row">
                        <a asp-controller="Home" asp-action="DeleteOrder" asp-route-id="@item.Id">
                            <div class="btn-group btn-group-sm">
                                <button type="submit" class="button-accept-filter">
                                    <i class="far fa-trash-alt">Delete</i>
                                </button>
                            </div>
                        </a>
                    </td>
                </tr>
            }   
        </tbody>
      </table>     
</div>

 <a href ="/AddOrder" class="btn btn-secondary">
    Add Order
</a>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>